html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
  width: min(30rem, 95%);
  height: auto;
  padding: 2rem;
  background-color: steelblue;
  border-radius: 13px;
  margin: 10rem auto;
  color: white;
}

.btn {
  background-color: aliceblue;
  color: black;
  margin: none;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  border-style: none;
  padding: 5px 7px;
}
